# Flutter core
.dart_tool/
build/
.metadata

# IDE files
.idea/
*.iml

# OS files
.DS_Store

# Optional (clean learning/demo repo)
ios/
android/
macos/
windows/
linux/
web/

# Optional (ignore if demo project)
pubspec.lock